body{
    margin: 0;
}

header{
    color:white;
    background-color: #222222;
    padding: 3%;
    padding-bottom: 2px;
}
header > h1{
    margin:0;
    margin-bottom:20px;
    font-weight: bold;
}

header > div{
    display:inline-block;
    font-size:16px;
    font-weight: bold;
}

.date{
    float:right;
}

/* navigation */

.wrapper {
    padding-top: 20px;
    text-align: center;
}

.list-wrapper{
    display: inline-block;
    white-space: nowrap;
}

.week{
    text-align: center;
    width: 500px;
    overflow: hidden;
    vertical-align: middle;
    padding: 0;
}

.list-wrapper ul{
    display: inline-block;
    white-space: nowrap;
    padding: 0;
}

.list-wrapper li{
    list-style-type: none;
    display: inline-block;
    text-align: left;
    padding: 0 5px;
    white-space: nowrap;
}

a{
    font-size: 1.5em;
    margin-left: 5px;
    color: black !important;
    text-decoration: none !important;
    border-bottom: none;
}

a:hover {
    color: #D50A0A!important;
    font-weight: bolder;
}

.hover-left{
    padding: 0;
}

.hover-right{
    padding: 0;
}
/* end of navigation */

.landing1{
    width: 95%;
    margin: auto;
}
.landing2{
    width: 95%;
    margin: auto;
}

.game_box{
    width: 85%;
    height: 225px;
    margin: auto;
    border: 2px solid lightgrey;
    box-sizing: border-box;
    border-bottom:25px solid lightgrey;
    margin-top: 20px;
    border-radius: 10px 10px 0 0;
}

.score{
    width: 70%;
    height: 57%;
    margin-left: 5%;
    margin-top: 3%;
    display:flex;
}
.video{
    border: 2px solid #e52d27;
    background-color: black;
    margin: 10px;
    height:40%;
    margin-left: 5%;
    border-radius: 10px;
    min-width: 200px;
    min-height: 200px;
}

.news{
    border: 2px solid black;
    margin: 10px;
    height: 40%;
    margin-left: 5%;
    background-color: white;
    background-image: url(images/twitter.png) ;
    border-color: #1DA1F2 ;
    background-size: contain;
    background-repeat: no-repeat;
    font-size:.85vw;
    font-weight: bold;
    background-position: center;
    text-align: left;
    border-radius: 10px;
}

.weather{
    width: 22%;
    height: 100px;
    margin-right: 3%;
    margin-top: 5%;
    display:inline-block;
    float:right;
    font-size: .85vw;
    font-family: Arial;
    font-weight: bold;
}

/*
.week{
    list-style-type:none;
    font-weight: bold;
    overflow: auto;
    white-space: nowrap;
    margin: auto;
    margin-top: 2%;
    width: 600px;
}

.week > li {
    margin: 5px;
    margin-bottom: 10px;
    display:inline-block;
}
.week > li:hover {
    cursor:pointer;
}

*/

.game_menu{
    display: none;
    text-align: center;
    background-color: lightgrey;
    width: 85%;
    height:400px;
    margin: auto;
}
.down{
    height:33px;
    width:100%;
    background-color: lightgrey;
    background-image: url(images/downlight.png);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: center;
    margin: auto;
}
.down:hover{
    background-image: url(images/downdark.png);
}
.up {
    height: 35px;
    width: 100%;
    background-color: lightgrey;
    background-image: url(images/lightup.png);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: center;
    margin: auto;
}
.up:hover{
    background-image: url(images/darkup.png);
}
.down:hover, .up:hover{
    cursor:pointer;
}

.info {
    font-weight: bold;
    padding-top: 10px;
    height: 45px;
    width: 100%;
    background-color: lightgrey;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}
.score_board{
    height: 90%;
    width: 25%;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    display:inline-block;
    margin-left: 15px;
    font-size: 15px;
}

.logo{
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    width: 75px;
    margin: auto;
    margin-top:5px;
    background-position: center;
}
.current{
    border-bottom: 2px solid #D50A0A;
}
.score_numbers{
    width: 100%;
    height:30px;
    font-size: 20px;
    margin-top:5px;
    text-align: center;
    font-weight: bold;
}
.score_time{
    margin-top: 20%;
    align-text:center;
}
.weather_picture{
    width:50%;
    height: 20%;
    background-size:contain;
    background-repeat: no-repeat;
    margin: auto;
}

img{
    height: 100px;
    width: 100px;
}
